@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant;
@using BestRestaurants.Models;

<h2>Here are the details of @Model.Name restaurant</h2>
<!-- look how siqq we are ??? -->
<h4>@(Model.Accessible ? "Accessible" : "Not Accessible")</h4>
<h4>City: @Model.City</h4>
<h4>Capacity: @Model.Capacity</h4>
@* /Cuisines/Details/{id} *@
<h4>Cuisine: @Html.ActionLink($"{Model.Cuisine.Type}", "Details", "Cuisines", new { id = Model.Cuisine.CuisineId })</h4>

@* Add Review? *@

<br/>
<p>@Html.ActionLink("Edit Restaurant", "Edit", new {id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Delete Restaurant", "Delete", new {id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Back to Restaurants", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
